{% extends "landing_page_gen/layout.html" %}
{% load static %}


{% block body %}

<div class = "container py-auto">  

    <div class = "row" id = "outer-wrapper">


        <form action="" id = "main-form" class= "col-12">

            <div class = "box row rounded border border-dark shadow-md p-4 my-5">
                <div class="form-group col-12">
                    <label for="company-name">What is your company's name?</label>
                    <input type="text" name="company-name" id="company-name" class="form-control" placeholder="Company Name" aria-describedby="helpId">                  
                </div>

                <div class="form-group col-12">
                    <label for="company-tagline">What is your company tagline?</label>
                    <input type="text" name="company-tagline" id="company-tagline" class="form-control" placeholder="What embodies your company values?" aria-describedby="helpId">
                </div>

                <div class="form-group col-12">
                    <label for="slug">What do you want your url slug to be (no spaces, only dashes)?</label>
                    <input type="text" name="slug" id="slug" class="form-control" placeholder="Url" aria-describedby="helpId">
                </div>

                <div class="form-group col-12">
                <label for="number">What is your Dwelling Phone Number?</label>
                <input type="number" name="number" id="number" class="form-control" placeholder="Dwelling Phone" aria-describedby="helpId">
                </div>

            </div>

            <div class = "row rounded border border-dark shadow-md p-4 my-5">

                <div class="form-group col-12">
                <label for="search">Choose a cover image</label>
                <input type="text" name="search" id="search" class="form-control" placeholder="Enter keywords about your business" aria-describedby="helpId">
                <button type="button" class = "btn mt-2 btn-dark" id= "unsplash-search" onclick = "searchPhotos(1)"> Search </button>
                </div>

                <div class ="unplash-scroll-container col-12">
                    <div class = "row" id = "unsplash-result">
                    </div>
                </div>

                <div class="form-group col-12">
                    <label for="cover">Or upload a file of your own - the higher the quality the better</label>
                    <input type="file" accept="image/*" onchange="loadFile(event, 'cover')" class="form-control-file" name="cover" id="cover" placeholder="" aria-describedby="fileHelpId">
                    {% comment %} <small id="fileHelpId" class="form-text text-muted">Help text</small> {% endcomment %}
                    </div>
                <div class = "col-6" id = "cover-wrapper">            
                </div>     

                <div class="form-group col-12">
                    <label for="logo">Upload a logo</label>
                    <input type="file" accept="image/*" onchange="loadFile(event, 'logo')" class="form-control-file" name="logo" id="logo" placeholder="" aria-describedby="fileHelpId">
                    {% comment %} <small id="fileHelpId" class="form-text text-muted">Help text</small> {% endcomment %}
                    </div>
                <div class = "col-6" id = "logo-wrapper">            
                </div>           
                

                <label class = "col-12" for="attributes">Do any of the following apply to your business?</label>
                <div class="form-group col-12" id = "attributes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="insured" value="insured">
                        <label class="form-check-label" for="insured">Insured</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="bonded" value="bonded">
                        <label class="form-check-label" for="bonded">Bonded</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="emergency" value="emergency">
                        <label class="form-check-label" for="emergency">Emergency Services</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="veteran" value="veteran">
                        <label class="form-check-label" for="veteran">Veteran Owned</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="family" value="family">
                        <label class="form-check-label" for="family">Family Owned</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="local" value="local">
                        <label class="form-check-label" for="local">Local Business</label>
                    </div>
                </div>
                <div class="form-group col-12">
                <label for="license">License Number</label>
                <input type="text" name="license" id="license" class="form-control" placeholder="" aria-describedby="helpId">
                </div>

                <hr>

                <div class="form-group col-12">
                <label for="about">Tell us a little bit about your business</label>
                <textarea class="form-control" name="about" id="about" rows="5"></textarea>
                </div>

                <div class="form-group col-12">
                    <label for="about">Upload a picture or yourself, family or team</label>
                    <input type="file" accept="image/*" onchange="loadFile(event, 'about')" class="form-control-file" name="about" id="about" placeholder="" aria-describedby="fileHelpId">
                    {% comment %} <small id="fileHelpId" class="form-text text-muted">Help text</small> {% endcomment %}
                    </div>
                <div class = "col-6" id = "about-wrapper">            
                </div> 
            </div>


            <div class = "row rounded border border-dark shadow-md p-4 my-5">

                <label class = "col-12" for="attributes">Add your socials</label>
                <div class="form-group col-12">
                <label for="facebook">Facebook</label>
                <input type="text" name="facebook" id="facebook" class="form-control" placeholder="Facebook Url" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="twitter">Twitter</label>
                <input type="text" name="twitter" id="twitter" class="form-control" placeholder="Twitter Url" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="instagram">Instagram</label>
                <input type="text" name="instagram" id="instagram" class="form-control" placeholder="Instagram Url" aria-describedby="helpId">
                </div>

    

                <label class = "col-12">Add a featured video</label>
                <div class="form-group col-12">
                <label for="feature">Featured Video Link</label>
                <input type="text" name="feature" id="feature" class="form-control" placeholder="Featured Video" aria-describedby="helpId">
                </div>

    

                <label class = "col-12">Let your customers know your service area</label>
                <div class="form-group col-12">
                <label for="street-name">Street Name</label>
                <input type="text" name="street-name" id="street" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="city">City / Town</label>
                <input type="text" name="city" id="city" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="state">State</label>
                <input type="text" name="state" id="state" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="zip">Zip / Postal Code</label>
                <input type="text" name="zip" id="zip" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group col-12">
                <label for="radius">How many miles are you willing to travel for a job?</label>
                <input type="number" name="radius" id="radius" class="form-control" placeholder="" aria-describedby="helpId">
                </div>

            </div>

            <div class = "row rounded border border-dark shadow-md p-4 my-5">
                
                <div id = "dynamic_components" class = "col-12">
                    <div id = "services" class = "row">
                        <label class = "col-12" for="attributes">Tell us about the services your offer</label>
                        <div class="form-group service col-6">
                            <label>Service Name</label>
                            <input type="text" name="service-name" class="form-control service-name" placeholder="" aria-describedby="helpId">
                            <label>Service Description</label>
                            <textarea class="form-control" name="service-description" class = "service-description" id="about" rows="2"></textarea>
                            <button type='button' class = "remove btn btn-dark mx-left mt-2 d-block" >Remove service</button>

                        </div>           
                    </div>
                    <button type='button' class = "btn btn-dark mx-auto col-2 d-block" id = "add-service">Add a service </button>
           
                    
                    <div id = "testimonials" class = "row">
                        <label class = "col-12" >Add some testimonials</label>
                        <div class="form-group testimonial col-6">
                            <label>Who gave the review?</label>
                            <input type="text" name="reviewer" class="form-control reviewer" placeholder="" aria-describedby="helpId">
                            <label>What is their title</label>
                            <input type="text" name="title" class="form-control title" placeholder="homeowner, Chipotle Owner, etc." aria-describedby="helpId">
                            <label> How many stars did they give you?</label>
                            <input type="number" name="stars" min="1" max="5" class="form-control stars" placeholder="" aria-describedby="helpId">
                            <label> What did they say?</label>
                            <textarea class="form-control" name="review" class = "testimonial-description" rows="2"></textarea>
                            <button type='button' class = "remove btn btn-dark mx-left mt-2 d-block" >Remove testimonial</button>
                        </div>           
                    </div>
                    <button type='button' class = "btn btn-dark mx-auto col-2 d-block" id = "add-testimonial">Add a testimonial </button>
                

                    <div id = "faqs" class = "row">
                        <label class = "col-12" >Add FAQs</label>
                        <div class="form-group faq col-6">
                            <label>Question</label>
                            <input type="text" name="question" class="form-control question" placeholder="" aria-describedby="helpId">
                            <label> Answer</label>
                            <textarea class="form-control" name="answer" class = "answer"  rows="2"></textarea>
                            <button type='button' class = "remove btn btn-dark mx-left mt-2 d-block" >Remove FAQ</button>
                        </div>           
                    </div> 
                    <button type='button' class = "btn btn-dark mx-auto col-2 d-block" id = "add-faq">Add an FAQ </button>
                </div>
            </div>

            <div class = "row rounded border border-dark shadow-md p-4 my-5">

                <div class="form-group col-12">
                    <label for="gallery">Upload photos of your work - the higher the quality the better</label>
                    <input type="file" accept="image/*" onchange="loadFile(event, 'gallery')" class="form-control-file" name="gallery" id="gallery" placeholder="" aria-describedby="fileHelpId">
                    {% comment %} <small id="fileHelpId" class="form-text text-muted">Help text</small> {% endcomment %}
                    </div>

                <div class ="col-12">
                    <div class = "row" id = "gallery-wrapper">
                    </div>
                </div>

            </div>      

            
            <button type = "submit" id="submit" class = "mx-auto d-block btn btn-dark"> Make it! </button>

            


        </form>   

    </div>   
           

 </div>

{% endblock %}  

{% block script %}
	<script src="{% static 'landing_page_gen/image_upload.js' %}"></script>
    <script src="{% static 'landing_page_gen/unsplash.js' %}"></script>
    <script src="{% static 'landing_page_gen/add_input.js' %}"></script>
    <script src="{% static 'landing_page_gen/send.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %} 